# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Database
db.sqlite3


# Static collected files
staticfiles/

# Environment variables
.env

# VS Code
.vscode/

# Mac/Linux junk
.DS_Store